.background {
  background-color: var(--color-primary);
  padding: 20px;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .logo {
    display: none !important;
  }

  .social_medias {
    text-align: center;
    display: flex;
    /* pega todo espaço disponível e divide igualmente pela qtde de icones */
    justify-content: space-around;
  }

  .social_medias svg {
    font-size: 1.4rem;
  }
}