.carousel {
  margin-top: 20px;
  width: 80%;
  /* pega 80%, mais 10% margem a esquerda e os outros 10% a direita, centraliza o objeto */
  margin-left: 10%;
}

.carousel_image {
  max-height: 499.5px;
}